python-dotenv
opencv-python
torch
torchvision
torchaudio
transformers
moviepy
google-generativeai
rich
fpdf
mcp-fast-mcp
langgraph
langchain-core
chromadb
numpy
sse-starlette
neo4j
sentence-transformers
cohere
ultralytics
easyocr